<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vytvořit pojištěnce</title>
</head >
<body>
    <header th:replace="~{fragments/layout.html ::header}"></header>
    <div class="container mt-4">
        <h1 class="mb-4">Vytvořit pojištěnce</h1>
        <form th:action="@{/pojistenci}" method="post" th:object="${personDTO}">
            
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="name">Jméno</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="name" th:field="*{name}">
                    <small class="text-danger" th:errors="*{name}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="surname">Příjmení</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="surname" th:field="*{surname}">
                    <small class="text-danger" th:errors="*{surname}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label " for="email">E-mail</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="email" th:field="*{email}">
                    <small class="text-danger" th:errors="*{email}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="phone-number">Telefonní číslo</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="prexif">+420</span>
                        <input class="form-control" type="text" id="phone-number" th:field="*{phoneNumber}" aria-describedby="prefix">
                    </div>
                    <small class="text-danger" th:errors="*{phoneNumber}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="street">Ulice a číslo popisné</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="street" th:field="*{street}">
                    <small class="text-danger" th:errors="*{street}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="city">Město</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="city" th:field="*{city}">
                    <small class="text-danger" th:errors="*{city}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="zip-code">PSČ</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="zip-code" th:field="*{zipCode}">
                    <small class="text-danger" th:errors="*{zipCode}"></small>
                </div>
            </div>

            <div class="row mt-4">
                <div></div>
                <div class="col-sm-5">
                    <button class="btn btn-info" type="submit">Vytvořit</button>
                </div>
            </div>

        </form>
    </div>
    
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>