<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:replace="~{fragments/layout.html ::header}"></header>
    <div class="container mt-4">
        <h1 class="mb-4">Vytvořit nové pojištění</h1>
        <form th:action="@{'/pojisteni/nove-pojisteni/' + ${personId}}" method="post" th:object="${insuranceDTO}">
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="name">Typ pojištění</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <select class="form-select" type="text" id="name" th:field="*{name}">
                        <option class="text-secondary" value="">Vyberte...</option>
                        <option value="Pojištění domu">Pojištění domu</option>
                        <option value="Životní pojištění">Životní pojištění</option>
                        <option value="Pojištění vozu">Pojištění vozu</option>
                        <option value="Pojištění domácnosti">Pojištění domácnosti</option>
                    </select>
                    <small class="text-danger" th:errors="*{name}"></small>
                </div>
            </div>
            <div>
                <input type="hidden"th:field="*{id}">
                <input type="hidden" th:field="*{personId}" /> 
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="subjectOfInsurance">Předmět pojištění</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" type="text" id="subjectOfInsurance" th:field="*{subjectOfInsurance}">
                    <small class="text-danger" th:errors="*{subjectOfInsurance}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="amount">Částka</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" id="amount" type="text" th:field="*{amount}">
                    <small class="text-danger" th:errors="*{amount}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="valid-from">Platnost od</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" id="valid-from" type="date" th:field="*{validFrom}">
                    <small class="text-danger" th:errors="*{validFrom}"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-md-2">
                    <label class="col-form-label" for="valid-until">Platnost do</label>
                </div>
                <div class="col-sm-5 col-md-6">
                    <input class="form-control" id="valid-until" type="date" th:field="*{validUntil}">
                    <small class="text-danger" th:errors="*{validUntil}"></small>
                </div>
            </div>
            <div class="row mt-4">
                <div></div>
                <div class="col-sm-5">
                    <button class="btn btn-info" type="submit">Vytvořit</button>
                </div>
            </div>

        </form>
    </div>

    
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>